@import "bootstrap/scss/bootstrap";
@import "@egjs/vue3-flicking/dist/flicking.min.css";
@import "@egjs/flicking-plugins/dist/pagination.css";
@import "@egjs/flicking-plugins/dist/arrow.css";

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 100%;
  background-color: #ffd47e;
  min-height: 100%;
}