@import "bootstrap/scss/bootstrap";

//@keyframes whiteToGreenText {
//  from {
//    color: #FFFFFF;
//  }
//
//  to {
//    color: #77A042;
//    background-color: #FFFFFF;
//  }
//}
//
//@keyframes yellowToGreenText{
//  from {
//    color: #FFD47E;
//  }
//  to {
//    color: #77A042;
//    background-color: #FFD47E;
//  }
//}
//
//@keyframes greenToYellowText {
//  from {
//    color: #77A042;
//  }
//
//  to {
//    color: #FFD47E;
//    background-color: #77A042;
//  }
//}
//
//@keyframes opaqueToTranslucent {
//  from {
//    opacity: 100%;
//  }
//
//  to {
//    opacity: 85%;
//  }
//}
//
//html {
//  font-size: 14px;
//}
//
//@media (min-width: 768px) {
//  html {
//    font-size: 16px;
//  }
//}

html {
  position: relative;
  min-height: 100%;

}

body {
  font-family: "Inter", sans-serif;
  max-width: 100%;
  background-color: #FFD47E;
  min-height: 100%;
}

h1 {
  color: #fff;
}

img {
  padding-top: 20px;
}

.row{
  margin: 0;
}

.col{
  padding-left: 10%;
  color: #fff;
}

.col-2{
  color: #fff;
  padding-bottom: 10px;
}

hr.linea{
  color: #fff;
}

hr.lineb{
  width: 20%;
  color: #fff;
}

//.col_theme_1 {
//  background-color: #77A042;
//  color: #FFD47E;
//}
//
//.col_theme_2 {
//  background-color: #FFD47E;
//  color: #77A042;
//}
//
//.font_yellow {
//  font-family: Inter;
//  text-decoration: none;
//  color: #FFD47E;
//}
//
//.link_yellow:hover {
//  animation-name: yellowToGreenText;
//  animation-duration: 0.3s;
//  animation-fill-mode: forwards;
//}
//
//.font_green {
//  font-family: Inter;
//  text-decoration: none;
//  color: #77A042;
//}
//
//.font_white {
//  font-family: Inter;
//  text-decoration: none;
//  color: #ffffff;
//}
//
//.link_white:hover {
//  animation-name: whiteToGreenText;
//  animation-duration: 0.3s;
//  animation-fill-mode: forwards;
//}
//
//.link_green:hover {
//  animation-name: greenToYellowText;
//  animation-duration: 0.3s;
//  animation-fill-mode: forwards;
//}
//
//.bg-green {
//  background-color: #77A042;
//}
//
//.bg-yellow {
//  background-color: #FFD47E;
//}
//
//.border-brown {
//  border-color: #937B58;
//}
//
//.border-yellow {
//  border-color: #FFD47E;
//}
//
//.panel_anim:hover {
//  animation-name: opaqueToTranslucent;
//  animation-duration: 0.3s;
//  animation-fill-mode: forwards;
//}
//
//.w-10{
//  width: 10%;
//}
//
//.h-10 {
//  height: 10%;
//}
//
//.w-30 {
//  width: 30%;
//}
//
//.h-30 {
//  height: 30%;
//}
//
//.w-60 {
//  width: 60%;
//}
//
//.h-60 {
//  height: 60%;
//}